@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    color: white;
}

.header {
    display:flex;
    gap: 20px;
    margin: 10px 10px 200px 40px;
}

.body {
    margin:0 50px;
    height: 100vh;
}

.item {
    flex: auto;
}

.header div:first-child {
    padding:0 100px 0 0;
}

.header div:first-child p {
    font-size: 24px;
    cursor: pointer;
    width: 140px;
}


.header div:nth-child(2){
    padding: 10px 0;
} 

.header div:nth-child(2) p{
    cursor: pointer;
    padding: 0;
    width: 46px;
} 

.search svg, .cart svg {
    cursor: pointer;
    margin: 20px;
}