
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    background: rgba(0, 0, 0, 0.5) url('../../images/old-library-book.webp');
    background-size:cover;
    background-blend-mode: multiply ;
    background-repeat: no-repeat;
}

* {
    color: white;
}

.body {
    margin:0 50px;
    height: 100vh;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

p {
    font-family: 'Montserrat', sans-serif;
}

button {
    height: 40px;
    width: 150px;
    cursor: pointer;
    border-radius: 0;
    border-style: hidden;
    color: black;
}

button:hover {
    box-shadow: gray 2px 2px 0;
}

.search-display {
    display: none;
}